.tweets .column {
  flex-direction: column;
}

.first-order {
  order: 1;
}

.second-order {
  order: 2;
}

.third-order {
  order: 3;
}

.column.toggle {
  padding-right: 0;

  span {
    display: inline-block;
    padding: 5px 10px;
  }
}

.positions {
  .label {
    margin-bottom: 0.2em;
  }
  .control {
    margin-bottom: 0.7em;
  }
}
