<section [ngClass]="{'contrast': skinIsContrast}" class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Tweets from various users</h1>
      <h2 class="subtitle">The top 30 tweets from three users are as shown below</h2>
    </div>
  </div>
</section>

<section [ngClass]="{'contrast': skinIsContrast}" class="section">
  <div class="container">
    <div class="columns">
      <div class="column toggle">
        <div class="is-pulled-right">
          <span class="has-text-white has-background-dark subtitle">
            {{(editMode ? 'edit' : 'view') | uppercase}}
          </span>&nbsp;
          <a (click)="setPageMode()" class="button is-info">Toggle page mode</a>&nbsp;
        </div>
      </div>
    </div>

    <form *ngIf="editMode" [formGroup]="editForm">
      <div class="columns has-background-light">
        <div class="column positions">
          <div class="control">
            <div class="label">First order</div>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="firstOrder" formControlName="firstOrder" value="makeschool">
              @makeschool
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="firstOrder" formControlName="firstOrder" value="newsycombinator">
              @newsycombinator
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="firstOrder" formControlName="firstOrder" value="ycombinator">
              @ycombinator
            </label>
          </div>

          <div class="control">
            <div class="label">Second order</div>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="secondOrder" formControlName="secondOrder" value="makeschool">
              @makeschool
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="secondOrder" formControlName="secondOrder" value="newsycombinator">
              @newsycombinator
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="secondOrder" formControlName="secondOrder" value="ycombinator">
              @ycombinator
            </label>
          </div>

          <div class="control">
            <div class="label">Third order</div>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="thirdOrder" formControlName="thirdOrder" value="makeschool">
              @makeschool
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="thirdOrder" formControlName="thirdOrder" value="newsycombinator">
              @newsycombinator
            </label>
            <label class="radio">
              <input type="radio" (change)="orderColumn($event)" name="thirdOrder" formControlName="thirdOrder" value="ycombinator">
              @ycombinator
            </label>
          </div>
        </div>

        <div class="column is-narrow">
          <div class="field">
            <div class="label">Time range from</div>
            <div class="control">
              <input class="input" type="date" formControlName="tweetRangeFrom" placeholder="From">
            </div>
          </div>
          <div class="field">
            <div class="label">Time range to</div>
            <div class="control">
              <input class="input" type="date" formControlName="tweetRangeTo" placeholder="To">
            </div>
          </div>
        </div>

        <div class="column is-narrow">
          <div class="field">
            <div class="label">Enter number of tweets to show</div>
            <div class="control">
              <input class="input" type="number" formControlName="numberOfTweets" placeholder="E.g 1 or 2 ...30 maximum">
            </div>
          </div>
        </div>

        <div class="column is-narrow">
          <div class="field">
            <div class="label">Choose Skin</div>
            <div class="control">
              <div class="select">
                <select formControlName="skinTheme">
                  <option [value]="'default'">Default Skin</option>
                  <option [value]="'contrast'">Contrast Skin</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>

<section [ngClass]="{'contrast': skinIsContrast}" class="section">
  <div class="container">

    <div class="columns has-background-white-ter tweets">

      <div
        [ngClass]="{
          'first-order': currentOrder.firstOrder === username,
          'second-order': currentOrder.secondOrder === username,
          'third-order': currentOrder.thirdOrder === username
        }"
        *ngFor="let username of usernames"
        class="column is-flex">

        <app-tweets-user [username]="username"></app-tweets-user>

        <app-single-tweet
          *ngFor="let tweet of tweetsToShow(username)"
          [tweet]="tweet">
        </app-single-tweet>

        <div *ngIf="!tweetsToShow(username).length" class="card">
          <div class="card-content">
            <div class="content">
              <p> No matching tweets!</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
