/* You can add global styles to this file, and also import other style files */
$skin-dark: #333333;
$skin-light: #ffffff;

$skin-border: 1px solid $skin-light;

.contrast {
  .label,
  .notification .title,
  span,
  p,
  h1,
  h2,
  a,
  time {
    color: $skin-light !important;
  }

  label.radio {
    &:hover {
      color: $skin-light;
      font-weight: bold;
    }
  }

  .button.is-info {
    color: $skin-light;
    background: $skin-dark;
    border: $skin-border;

    &:hover {
      border: 2px solid $skin-light;
    }
  }

  .card, .tile {
    background-color: $skin-dark !important;
  }

  .card { border: $skin-border; }

  .columns {
    background-color: $skin-dark !important;
    color: $skin-light !important;
  }

  &.hero.is-info {
    background-color: $skin-dark;
  }
}
